---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetUserGroupList/v1?key=<API_KEY>&steamid=76561197995163285
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"success\": true,\n\t\t\"groups\": [\n\t\t\t{\n\t\t\t\t\"gid\":
        \"4458711\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"gid\": \"5115552\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"gid\":
        \"5151157\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"gid\": \"5274870\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"gid\":
        \"5590657\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"gid\": \"6473357\"\n\t\t\t}\n\t\t]\n\t\t\n\t}\n}"
  recorded_at: Thu, 30 Oct 2014 15:04:23 GMT
recorded_with: VCR 2.9.3
