---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUserStats/GetUserStatsForGame/v2/?appid=730&key=<API_KEY>&steamid=76561197995163285
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"playerstats\": {\n\t\t\"steamID\": \"76561197995163285\",\n\t\t\"gameName\":
        \"ValveTestApp260\",\n\t\t\"stats\": [\n\t\t\t{\n\t\t\t\t\"name\": \"total_kills\",\n\t\t\t\t\"value\":
        22231\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\": \"total_deaths\",\n\t\t\t\t\"value\":
        19482\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\": \"total_time_played\",\n\t\t\t\t\"value\":
        1636726\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\": \"total_planted_bombs\",\n\t\t\t\t\"value\":
        915\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\": \"total_defused_bombs\",\n\t\t\t\t\"value\":
        381\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\": \"total_wins\",\n\t\t\t\t\"value\":
        10980\n\t\t\t},\n\t\t\t{\n[...]
