---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUserStats/GetGlobalAchievementPercentagesForApp/v0002/?gameid=730
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"achievementpercentages\": {\n\t\t\"achievements\": [\n\t\t\t{\n\t\t\t\t\"name\":
        \"KILL_ENEMY_RELOADING\",\n\t\t\t\t\"percent\": 66.58599853515625\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"GIVE_DAMAGE_LOW\",\n\t\t\t\t\"percent\": 66.495918273925781\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"KILL_ENEMY_LOW\",\n\t\t\t\t\"percent\": 65.299293518066406\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"UNSTOPPABLE_FORCE\",\n\t\t\t\t\"percent\": 64.279861450195312\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"WIN_ROUNDS_LOW\",\n\t\t\t\t\"percent\": 64.067497253417969\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"K[...]
