---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetUserGroupList/v1?key=<API_KEY>&steamid=76561198002572492
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"success\": false,\n\t\t\"error\": \"Private
        profile\"\n\t}\n}"
  recorded_at: Thu, 30 Oct 2014 15:04:23 GMT
recorded_with: VCR 2.9.3
