---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUserStats/GetPlayerAchievements/v1/?appid=730&key=<API_KEY>&steamid=76561197995163285
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"playerstats\": {\n\t\t\"steamID\": \"76561197995163285\",\n\t\t\"gameName\":
        \"Counter-Strike: Global Offensive\",\n\t\t\"achievements\": [\n\t\t\t{\n\t\t\t\t\"apiname\":
        \"WIN_BOMB_PLANT\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"apiname\":
        \"BOMB_PLANT_LOW\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"apiname\":
        \"BOMB_DEFUSE_LOW\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"apiname\":
        \"KILL_ENEMY_LOW\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"apiname\":
        \"KILL_ENEMY_MED\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"apiname\":
        \"KILL_ENEMY_HIGH\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\[...]
