---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUserStats/GetGlobalAchievementPercentagesForApp/v0002/?gameid=730
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"achievementpercentages\": {\n\t\t\"achievements\": [\n\t\t\t{\n\t\t\t\t\"name\":
        \"KILL_ENEMY_RELOADING\",\n\t\t\t\t\"percent\": 66.623809814453125\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"GIVE_DAMAGE_LOW\",\n\t\t\t\t\"percent\": 66.53363037109375\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"KILL_ENEMY_LOW\",\n\t\t\t\t\"percent\": 65.337005615234375\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"UNSTOPPABLE_FORCE\",\n\t\t\t\t\"percent\": 64.318489074707031\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"WIN_ROUNDS_LOW\",\n\t\t\t\t\"percent\": 64.105186462402344\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"K[...]
