---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUserStats/GetSchemaForGame/v2/?appid=730&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"game\": {\n\t\t\"gameName\": \"ValveTestApp260\",\n\t\t\"gameVersion\":
        \"237\",\n\t\t\"availableGameStats\": {\n\t\t\t\"stats\": [\n\t\t\t\t{\n\t\t\t\t\t\"name\":
        \"total_kills\",\n\t\t\t\t\t\"defaultvalue\": 0,\n\t\t\t\t\t\"displayName\":
        \"Enemy players killed\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"total_deaths\",\n\t\t\t\t\t\"defaultvalue\":
        0,\n\t\t\t\t\t\"displayName\": \"Player Deaths\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\":
        \"total_time_played\",\n\t\t\t\t\t\"defaultvalue\": 0,\n\t\t\t\t\t\"displayName\":
        \"Time Played\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"total_planted_bombs\",\n\t\t\t\t\t\"defaultvalue\":
        0,\n\t\t\t\t\t\"displayName\": \"Bombs Planted\"\n\t\[...]
