---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUserStats/GetPlayerAchievements/v1/?appid=12345&key=<API_KEY>&steamid=76561197995163285
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"playerstats\": {\n\t\t\"error\": \"Requested app has no stats\",\n\t\t\"success\":
        false\n\t}\n}"
  recorded_at: Thu, 30 Oct 2014 15:04:27 GMT
recorded_with: VCR 2.9.3
