---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetFriendList/v0001/?key=<API_KEY>&relationship=friend&steamid=76561197995163285
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"friendslist\": {\n\t\t\"friends\": [\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"76561197964492524\",\n\t\t\t\t\"relationship\": \"friend\",\n\t\t\t\t\"friend_since\":
        1346208530\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\": \"76561197965105520\",\n\t\t\t\t\"relationship\":
        \"friend\",\n\t\t\t\t\"friend_since\": 1414217226\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"76561197967631861\",\n\t\t\t\t\"relationship\": \"friend\",\n\t\t\t\t\"friend_since\":
        1310105798\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\": \"76561197969621018\",\n\t\t\t\t\"relationship\":
        \"friend\",\n\t\t\t\t\"friend_since\": 1385428609\n\t\t\t},\n\t\t\t{\n\t\t\[...]
