---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/IPlayerService/GetBadges/v1?key=<API_KEY>&steamid=76561197995163285
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Eresult:
      - '1'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"badges\": [\n\t\t\t{\n\t\t\t\t\"badgeid\":
        16,\n\t\t\t\t\"level\": 51,\n\t\t\t\t\"completion_time\": 1404061200,\n\t\t\t\t\"xp\":
        150,\n\t\t\t\t\"scarcity\": 32668\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"badgeid\":
        2,\n\t\t\t\t\"level\": 2,\n\t\t\t\t\"completion_time\": 1393211265,\n\t\t\t\t\"xp\":
        200,\n\t\t\t\t\"scarcity\": 2041165\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"badgeid\":
        15,\n\t\t\t\t\"level\": 2,\n\t\t\t\t\"completion_time\": 1380128986,\n\t\t\t\t\"xp\":
        150,\n\t\t\t\t\"scarcity\": 421848\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"badgeid\":
        8,\n\t\t\t\t\"level\": 1,\n\t\t\t\t\"completion_time\": 1356749036,\n\t\t\t\t\"xp\":
        100,\n\t\t\t\t\"scarcity\": 741879\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"badgeid\":
        7,\n\t\t\t\t\"level\": 3,\n\t\t\t\t\"completion_time\": 1342125512,\n\t\t\t\t\"xp\":
        100,\n\t\t\t\t\"scarcity\": 261763\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"badgeid\":
        6,\n\t\t\t\t\"level\": 1,\n\t\t\t\t\"completion_time\": 1324883068,\n\t\t\t\t\"xp\":
        51,\n\t\t\t\t\"scarcity\": 2746859\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"badgeid\":
        13,\n\t\t\t\t\"level\": 223,\n\t\t\t\t\"completion_time\": 1198539183,\n\t\t\t\t\"xp\":
        468,\n\t\t\t\t\"scarcity\": 419910\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"badgeid\":
        1,\n\t\t\t\t\"level\": 6,\n\t\t\t\t\"completion_time\": 1198539183,\n\t\t\t\t\"xp\":
        300,\n\t\t\t\t\"scarcity\": 21469632\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"badgeid\":
        1,\n\t\t\t\t\"appid\": 245070,\n\t\t\t\t\"level\": 2,\n\t\t\t\t\"completion_time\":
        1374423868,\n\t\t\t\t\"xp\": 200,\n\t\t\t\t\"communityitemid\": \"81812935\",\n\t\t\t\t\"border_color\":
        0,\n\t\t\t\t\"scarcity\": 269923\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"badgeid\":
        1,\n\t\t\t\t\"appid\": 224480,\n\t\t\t\t\"level\": 1,\n\t\t\t\t\"completion_time\":
        1393210832,\n\t\t\t\t\"xp\": 100,\n\t\t\t\t\"communityitemid\": \"586935365\",\n\t\t\t\t\"border_color\":
        0,\n\t\t\t\t\"scarcity\": 15254\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"badgeid\": 1,\n\t\t\t\t\"appid\":
        730,\n\t\t\t\t\"level\": 5,\n\t\t\t\t\"completion_time\": 1393223879,\n\t\t\t\t\"xp\":
        500,[...]
