---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/IPlayerService/GetCommunityBadgeProgress/v1?badgeid=2&key=<API_KEY>&steamid=76561197995163285
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Eresult:
      - '1'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"quests\": [\n\t\t\t{\n\t\t\t\t\"questid\":
        101,\n\t\t\t\t\"completed\": true\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"questid\":
        102,\n\t\t\t\t\"completed\": true\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"questid\":
        103,\n\t\t\t\t\"completed\": true\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"questid\":
        104,\n\t\t\t\t\"completed\": true\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"questid\":
        105,\n\t\t\t\t\"completed\": true\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"questid\":
        106,\n\t\t\t\t\"completed\": false\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"questid\":
        108,\n\t\t\t\t\"completed\": [...]
