---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/ResolveVanityURL/v0001/?key=<API_KEY>&vanityurl=blitzcat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"steamid\": \"76561198002572492\",\n\t\t\"success\":
        1\n\t}\n}"
  recorded_at: Thu, 30 Oct 2014 17:15:41 GMT
recorded_with: VCR 2.9.3
